
<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <h4  class="navbar-text">&copy; 2017 All Rights Reserved.</h4>
  </div>
</nav>



<!-- JAVASCRIPT SECTION -->
    <script src="client/Scripts/lib/jquery/dist/jquery.min.js"></script>
    <script src="client/Scripts/lib/bootstrap/dist/css/bootstrap.min.css"></script>
    <script src="client/Scripts/app.js"></script>
  </body>
</html>

